*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: antiquewhite;
    color: #222;
}
    
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    padding: 12px 24px;
    border-radius: 30px;
    max-width: 1000px;
    margin: 0 auto 20px auto;
}
.logo{
    font-weight: bold;
    font-size: 1.2rem;
    color: #222;
}

.nav-links{
    margin: 12px;
    text-decoration: none;
    color: aquamarine;
    font-weight: 500;  
}
    
.cta-nav{
    background-color: #1b4817;
    color: beige;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
}

.hero{
    background-image: url(christian-dala-x6jKFTIKguo-unsplash.jpg);
    border-radius: 10px;
    color: aliceblue;
    padding: 60px 40px 80px 40px;
    max-width: 1000px;
    margin: 0 auto 40px auto;
    position: relative;
}

.hero-content{
    max-width: 450px;
}
